.planets{
    height: calc(100vh - 100px);
    display: flex;
    gap: 40px;
    align-items: end;
    justify-content: center;
    padding: 100px;
}

.planet{
    width: 100px;
    height: 100px;

}
.text{
    position: absolute;
    text-align: center;
    width: 100%;
    color: #e8efef;
    font-size: 70px;
}