.planets{
    height: calc(100vh - 100px);
    display: flex;
    gap: 40px;
    align-items: end;
    justify-content: center;
    padding: 100px;
}

.planet{
    width: 100px;
    height: 100px;

}
.heading{
    position: absolute;
    top: 50px;
    text-align: center;
    width: 100%;
    color: #e8efef;
    font-size: 100px;
}

.selectHeading{
    position: absolute;
    bottom: 100px;
    text-align: center;
    width: 100%;
    color: #e8efef;
    font-size: 30px;
}