*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background: url("./assets/planets/bg.jpg") no-repeat center;
    background-size: cover;
    font-family: "Sora";
    letter-spacing: 2px;
    height: 100vh;
    width: 100vw;
}