.infoHeading{
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 85px;
    margin-top: 50px;
    color: white;
}
.firstFact{
    position: absolute;
    top: 200px;
}
.secondFact{
    position: absolute;
    top: 700px;
    right: 50px;
}

.returnHeading{
    font-family: "Century Gothic";
    position: absolute;
    width: 100%;
    color: white;
    text-align: center;
    bottom: 50px;
    font-size: 15px;
}